.existingAccount .slds-modal__container{
    width: 80%;
    max-width: 80rem;
}
    
.createAddress .slds-modal__container {
    width: 50%;
    max-width: 50rem;
}
    
.slds-modal__container {
    min-width: 90vw;
}

.slds-icon-text-default{
    fill:white !important
}

.delete .slds-icon-text-default {
    fill: black!important;
}

li:hover{
    background-color:lightgray;
    cursor:pointer;
    text-decoration: underline;
}

li{
    padding:2px;
}

.warningButton{
    background-color:yellow  !important;
    color:black !important;
}

.slds-form-element_horizontal .slds-form-element__label{
    padding-top:0px;
    font-weight: bold;
}

.custombutton{
    height: 20px;
    padding: 0px 5px 0px 5px;
    border-radius: 50px;
    font-size: 11px;
    color:white !important;
    text-align: center !important;
}

.customIOSButton{
    border-radius: 50px;
    font-size: 12px;
}

.custombuttonAddress {
    height: 20px;
    padding: 10px;
    border-radius: 50px;
    font-size: 12px;
    text-align: center !important;
}

.customIOSbuttonAddress {
    border-radius: 50px;
    font-size: 12px;
    text-align: center !important;
}

table.dataTable thead th,table.dataTable thead td,
table.dataTable tbody th,table.dataTable tbody td{
    padding:4px 8px 4px 8px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 2px 8px;
}

.matchClass{
    background-color:yellow !important
}

@media (min-width: 48em){ 
    .createAccount .slds-modal__container{
        width: 100% !important;
        max-width: 100rem !important;
    }

}

.addressTypeTable .slds-form-element__control{
    padding-left:0px !important;
}

.sWrapTest {
    height:200px;
    width:100%;
    overflow: auto !important;
    -webkit-overflow-scrolling: touch;
}

.addType {
    margin: 0px;
    position: relative;
}

.addedType {
    margin: 0px;
    background:red;
    position: relative;
}

@keyframes blinking {
    from {background-color: yellow;}

    to {background-color: white;}

}

.blink{
  animation: blinking 3s;
}